<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <h3>Práctica Keepcoding Node fundamentos</h3>

  <br>

  <h3>Escoja tipo listado html/json</h3>
  <h2>
    <select name="Tipo Listado" id="ordenar" onchange="window.location.href=this.value">
      <option value=""></option>
      <option value="/anuncios">Html</option>
      <option value="/apiv1/anuncios">JSON</option>
    </select>
    <br>

    <h3>Filtros:</h3>
    <h4>
      <p>Se pueden aplicar filtros usando los parametros siguientes: Nombre, estado (compra o vende), precio, foto, tags.</p>
    </h4>
    <ul>
      <li>
        <p> Añadimos esta etiqueta o varias a la pagina ?nombre=bicicleta1 o directamente ?nombre=bicicleta
          <a href="/anuncios?nombre=bicicleta">http://localhost:3000/anuncios?nombre=bicicleta</a>
        </p>
      </li>
      <li>
        <p>Ordenado
          <a href="/anuncios?nombre=bicicleta&sort=nombre">http://localhost:3000/anuncios?nombre=bicicleta&sort=nombre</a>
        </p>
      </li>
      <li>
        <p>Ordenado descendente
          <a href="/anuncios?nombre=bicicleta&sort=-nombre">http://localhost:3000/anuncios?nombre=bicicleta&sort=-nombre</a>
        </p>
        <li>
          <p>Limitado a x anuncios, en este ejmplo1
            <a href="/anuncios?nombre=bicicleta&limit=1">http://localhost:3000/anuncios?nombre=bicicleta&limit=1</a>
          </p>
        </li>
        <li>
          </p>Limitado a estado compra o vende, este ejemplo compra ordenado precio
          <a href="/anuncios?estado=compra&sort=precio">
            http://localhost:3000/anuncios?estado=compra&sort=precio</a>>
          </p>
        </li>
        <li>
          <p>Limitado a estado compra o vende, este ejemplo vende ordenado precio descendiente
            <a href="/anuncios?estado=vende&sort=-precio">
              http://localhost:3000/anuncios?estado=vende&sort=-precio</a>
          </p>
        </li>
        <li>
          <p>Listado por precios Busca por precio ("x-" -> Mayor que x || "x-y" -> Entre x e y || "-y" -> Menor qu. En este
            ejemplo mayor a 600:
            <a href="/anuncios?precio=600-"> http://localhost:3000/anuncios?precio=600-</a>
          </p>
        </li>
        <li>
          <p>Listado por precios 10-50 buscará anuncios con precio incluido entre estos valores { precio:{ '$gte': '10', '$lte':
            '50' } } ○ 10- buscará los que tengan precio mayor que 10 { precio: { '$gte': '10' } } ○ -50 buscará los que
            tengan precio menor de 50 { precio: { '$lte': '50' } } ○ 50 buscará los que tengan precio igual a 50 { precio:
            '50' } En este ejemplo menor a 600:
            <a href="/anuncios?precio=-600"> http://localhost:3000/anuncios?precio=-600</a>
          </p>
        </li>
        <li>
          <p>En este ejemplo entre 100 y 800:
            <a href="/anuncios?precio=100-800&sort=-precio"> http://localhost:3000/anuncios?precio=100-800&sort=-precio</a>
          </p>
        </li>
        <h4>
          <p>Se pueden aplicar filtros para ordenar "sort", limitar "limit", saltar algun valor "skip"</p>
        </h4>
        <li>
          <p>Listado por nombre = biclice, precio mayor que 1000, ordenador precio descendiente, limitada a una busqueda.
            <a href="/anuncios?nombre=bicicle&precio=1000-&sort=-precio&limit=1"> http://localhost:3000/anuncios?nombre=bicicle&precio=1000-&sort=-precio&limit=1</a>
          </p>
        </li>
        <b>tags: </b>Busca por tags o etiquetas ("lifestyle", "motor", "mobile", "work") </p>
        <h4>
          <p>Todos los ejemplos anteriores pueden realizarse atacando a la api: /apiv1/anuncios
        </h4>
        <li>
          <p>En este ejemplo entre 100 y 800:
            <a href="/apiv1/anuncios?precio=100-800&sort=-precio"> http://localhost:3000/apiv1/anuncios?precio=100-800&sort=-precio</a>
          </p>
        </li>
        <li>
          <p>En este ejemplo entre listar los que vende, ordenado por precio descendente:
            <a href="/apiv1/anuncios?estado=vende&sort=-precio"> http://localhost:3000/apiv1/anuncios?estado=vende&sort-precio</a>
          </p>
        </li>
        <br>
        <h3>Añadir anuncios:</h3>
        <p>Realizando una petición post a la dirección
          <a href="/apiv1/anuncios">http://localhost:3000/apiv1/anuncios</a> se pueden añadir nuevos anuncios a la base de datos.</p>
        <h3>Borrar anuncios:</h3>
        <p>Realizando una petición delete a la dirección
          <a href="/apiv1/anuncios">http://localhost:3000/apiv1/anuncios</a> se pueden borrar anuncios a la base de datos.</p>
</body>

</html>